:root {
  --font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

  --color-black: #000;
  --color-white: #fff;
  --color-grey-500: #535151;
  --color-grey-400: #6f6f6f;
  --color-grey-300: #d6d6d6;
  --color-grey-200: #e2e2e2;
  --color-grey-100: #f2f2f2;

  --sp-40: 40px;
  --sp-32: 32px;
  --sp-24: 24px;
  --sp-16: 16px;
  --sp-12: 12px;
  --sp-8: 8px;
  --sp-4: 4px;
  --sp-2: 2px;
  --sp-1: 1px;

  --font-size-4xl: 2.5rem;
  --font-size-3xl: 2rem;
  --font-size-2xl: 1.8rem;
  --font-size-xl: 1.4rem;
  --font-size-l: 1.2rem;
  --font-size-m: 1rem;
  --font-size-s: 0.85rem;
  --font-size-xs: 0.75rem;

  --font-weight-bold: 700;
  --font-weight-semi: 600;
  --font-weight-reg: 400;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-max-container: 900px;

  --transition-slow: all 1s ease-in-out;
  --transition-default: all 0.5s ease-in-out;
  --transition-fast: all 0.15s ease-in-out;
}

.heading--h1 {
  font-size: var(--font-size-4xl);
  font-weight: var(--font-weight-bold);
}
.heading--h2 {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
}
.heading--h3 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
}
.heading--h4 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semi);
}
.heading--h5 {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semi);
}
.heading--h6 {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semi);
}
.lambda-link {
  text-decoration: none;
  border-bottom: var(--sp-1) solid var(--color-grey-400);
}
.lambda-link:hover {
  border-bottom: var(--sp-4) solid var(--color-grey-400);
  transition: var(--transition-fast);
}

p,
a {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-reg);
  color: inherit;
}
